---
import Dialog from './Dialog.astro';

const { topics, authors } = Astro.props;
---

<form name="caseForm" id="caseForm">

<p><label for="title">Title: </label><input name="title" id="title" value="Case title" /></p>

<p><label for="pubDate">Publication date:</label><input name="pubDate" id="pubDate" value="2026-04-16"/></p>

<p><label for="description">Short description:</label><input name="description" id="description" value='This is the case description'/></p>

<!--
image:
    url: 'https://hal.science/PEPR-ENSEMBLE/public/Banniere_PEPR_ensemble_v2.png'
    alt: 'An exemplar image for the project.'
-->

<!--
Attention au resultat si le fichier n'est pas bien formatté...
-->

<!-- autocoimplete - https://masup9.github.io/apg-patterns-examples/patterns/combobox/astro/#source-code append to a editable field-->

<p>
<label for="authors">Author(s) : </label><input name="authors" id="authors" /><br/>
<label for="authorsList">Lookup for existing authors: </label>
<input list="authorsList" id="authorsAppender" name="authorsAppender">
<datalist id="authorsList">
  {authors.map((a: any) => <option value={a} />)}
</datalist>
<input type="button" onclick="javascript:document.getElementById('authors').value += document.getElementById('authorsAppender').value+', ';document.getElementById('authorsAppender').value = ''" value="Add author"/>
</p>



<p>
<label for="topics">The topics indexing this case: </label><input name="topics" id="topics" /><br/>
<label for="topicsList">Lookup for existing topics: </label>
<input list="topicsList" id="topicsAppender" name="topicsAppender">
<datalist id="topicsList">
  {topics.map((t: any) => <option value={t} />)}
</datalist>
<input type="button" onclick="javascript:document.getElementById('topics').value += document.getElementById('topicsAppender').value+', ';document.getElementById('topicsAppender').value = ''" value="Add topic"/>
</p>


<p>
<textarea name="casePresentation" id="casePresentation" rows="20" cols="80">

Provide a description of the research case and field site.

## With as much sections (or list) as needed

My field study is awesome.

1. **Negotiate field entry**: First, I shared details about my entry in the field site.

2. **Collected data**: with `anonymity` and `systematic organization in mind`.

3. **Crunching the transcripts**: Leading to inspiring results.


## Publication(s)

1. P. C. Pilot, P. C. Congrats, P. C. Cats, P. C. Matching. How Transverse are Long Term Collaborations in the Digital Age?. InfraConf 2025, PEPR Team, University of Free Time, Oct 2025, Paris, France. [10.48340/ihc2025_p007](https://dx.doi.org/10.48340/ihc2025_p007). [hal-05250539](https://hal.science/hal-05250539v1)

</textarea>
</p>


<Dialog
  title="Resarch Case in Astro MD"
  description="Copy paste the research case properly formatted in Astro Markdown format"
  triggerText="Show my case for copy pasting on GitHub"
>
  <textarea id="CaseMD" rows="20" cols="80">Dialog content goes here.</textarea>
</Dialog>

</form>

<script>

const updateCaseContent = function(){
	const cTitle = document.getElementById('title').value;
	const cPubDate = document.getElementById('pubDate').value;
	const cDescription = document.getElementById('description').value;
	const cAuthors = document.getElementById('authors').value.match(/, $/) ? document.getElementById('authors').value.slice(0, -2):document.getElementById('authors').value;
	const cTopics = document.getElementById('topics').value.match(/, $/) ? document.getElementById('topics').value.slice(0, -2):document.getElementById('topics').value;
	const cCasePresentation = document.getElementById('casePresentation').value;

	document.getElementById('CaseMD').value = `
---
title: '${cTitle}'
pubDate: ${cPubDate}
description: '${cDescription}'
authors: ["${cAuthors}"]
tags: ["${cTopics}"]
---


${cCasePresentation}
	`;
}

const modalButton = document.querySelector('[data-dialog-trigger]');
modalButton.addEventListener('click', updateCaseContent);

</script>